RickAndMortyApp/.DS_Store
.DS_Store
RickAndMortyApp.xcodeproj/project.xcworkspace/xcuserdata/sinyaeviv.xcuserdatad/UserInterfaceState.xcuserstate
RickAndMortyApp.xcodeproj/xcuserdata/sinyaeviv.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
